@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <h2>Stack</h2>
    <ul>
        <li><a href="https://www.linkedin.com/in/serge-shelipov-18801211a/">Asp.Net Core, WebApi, MVC, REST, WebServices, MicroServices, SQRS,SOLID, MS-SSIS.</a></li>
        <li><a href="https://www.linkedin.com/in/serge-shelipov-18801211a/">C#, LINQ, Entity Framework, MS SQL, SignalR, Dapper, Dapper+.</a></li>
        <li><a href="https://www.facebook.com/serge.shelipov/">HTML, CSS, Javascript , Razor Pages, Ajax, jQuery.</a></li>
        <li><a href="https://www.facebook.com/serge.shelipov/">BPMN(WSO2), BPS(WSO2), ESB(WSO2).</a></li>
        <li><a href="https://www.facebook.com/serge.shelipov/">Elastic, Agile, TeamCity, Kubernetes, Docker, Git.</a></li>
        <li><a href="https://www.facebook.com/serge.shelipov/">Blazor Webassembly.</a></li>
        <li><a href="https://www.facebook.com/serge.shelipov/">Kafka, Message Broker.</a></li>
        <li><a href="https://github.com/Shelipov">github.com.</a></li>
    </ul>
</div>
