@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    .Net Developer<br />
    Sergey Shelipov<br />
    <abbr title="Phone">+38097-934-08-69</abbr><br />
    <abbr title="Phone">+38066-764-50-90</abbr>

</address>

<address>
    <strong>Support:</strong> <a href="mailto:sergeshelipov@gmail.com">sergeshelipov@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sergeshelipov@gmail.com">sergeshelipov@gmail.com</a>
</address>
